@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap') ;
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@34,49.5&family=Overpass:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Honk:MORF,SHLN@34,49.5&family=Orbitron:wght@400..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap');

*{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
}

.sidebar{
    position: fixed;
    width: 200px;
    font-family: "Tektur", sans-serif;
    background-color: rgb(53, 7, 7);
}

.sidebar nav{
    padding-left: 30px;
    height: 100vh
}

.sidebar ul {
    list-style: none;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 30px;
    padding-left: 0;
    padding-top: 40px;
}
.sidebar nav li:hover{
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}
.sidebar nav li a{
    display: block;
    padding: 0px 6px 8px;
    text-decoration: none;
    color: white;
}



.infomain{
    height: 100vh;
    width: 100vw;
    margin-left: 200px;
    position: fixed;
}

#backVideo{
    height: 100vh;
    position: fixed; 
    z-index: -1; /* Place the video behind the content */
}

.dev-devinfo {
    padding-top: 40px;
    padding-left: 20px;
    color: white;
    background: linear-gradient(45deg, black, transparent);
    margin-top: 25vh;
    width: 100vw;
    height: 50vh;
}

.hello{
    font-size: 35px;
    font-family: "Orbitron", sans-serif;
}

.hello:hover{
    font-size: 40px;
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}

.about{
    font-family: "Workbench", sans-serif;
    font-size: 24px;
}

.about:hover{
    font-size: 28px;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}

.moreabout{
    font-size: 19px;
    font-family: "Josefin Sans", sans-serif;
    margin-right: 20%;
    /* font-family: "Source Code Pro", monospace; */
}
.moreabout:hover{
    font-size: 23px;
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}


.button button{
    font-family: "Orbitron", sans-serif;
    padding: 15px;
    border-radius: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: radial-gradient(black, transparent);
    cursor: pointer;
    font-size: large;
}

.button button:hover{
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}

.button a{
    margin-right: 40px;
}



.contact {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    /* justify-content: center;  */
    /* Center children horizontally */
    align-items:flex-start;  /*Center children vertically*/
    padding-left: 20px;
    background: linear-gradient(27deg, black, transparent);
    color: #f1f1f1;
    -webkit-text-fill-color: aliceblue;
    font-size: small;
    height: 100vh;
    /* padding-top: 8%; */
}
.contact-detail{
    margin-top: 10%;
    /* padding: 10%; */
    -webkit-text-fill-color: aliceblue;    
    background: linear-gradient(143deg, black, transparent);
    color: #fff;
    padding: 20px;
    /* margin-bottom: 20px; */
    border-radius: 5px;
}

.contact-form {
    margin-top: 2%;
    padding: 10%;
    -webkit-text-fill-color: aliceblue;    
    background: linear-gradient(143deg, black, transparent);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contact-details h2,
.contact-form h2 {
    text-align: center;
}

.contact-form form {
    display: grid;
    gap: 10px;
}

.form-group{
    font-size: large;
}

.linkedin{
font-size: large;
}
.email{
font-size: large;
}
.github{
font-size: large;
}


.email a{
    color: white;
    font-size: large;
}
.email a:hover{
    /* color: rgb(186, 134, 30); */
    background: rgb(221, 172, 38);
    padding: 1%;
}
.linkedin a{
    color: white;
    font-size: large;
}
.linkedin a:hover{
    /* color: rgb(186, 134, 30); */
    background: rgb(221, 172, 38);
    padding: 1%;
}
.github a{
    color: white;
    font-size: large;
}
.github a:hover{
    /* color: rgb(186, 134, 30); */
    background: rgb(221, 172, 38);
    padding: 1%;
}

.form-control::placeholder {
    font-size: medium;
    background: black;
    color: black;
}

.form-control{
    font-size: medium;
    background-color: black;
    color: black;
}

.form-text{
font-size: medium;
}

.btn-primary{
    background: linear-gradient(143deg, black, transparent);  
    padding: 8px;
}

.btn-primary:hover{
    color: rgb(186, 134, 30);
    background: rgb(221, 172, 38);
    padding: 12px;
}

.btn-primary{
    font-size: large;
}



.aboutinfo{
    /* height: 140vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* margin-left: 10px; */
    margin-bottom: 0%;
    padding: 43px;
    padding-right: 7%;
    margin-left: 200px;
    justify-content: center; /* Center children horizontally */
    /* align-items: center; Center children vertically */
    background: linear-gradient(143deg, black, transparent);
    color: #f1f1f1;
}

.myname{
    display: flex;
    background: linear-gradient(143deg, black, transparent);
    padding-right: 0%;
    padding-left: 0;
    width: 80vw;
    margin-right: 10%;
}

.akshit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 400%;
    padding-left: 0%;
}

.dev-picture{
    height: 35vh;
    margin-left: 25%;
    /* margin-right: -50%; */
}

.dev-picture img {
    height: 35vh;
}

.aboutTech{
        font-family: "Workbench", sans-serif;
        font-size: 24px;
        padding-left: 1%;
}

.techstack{
    font-family: "Orbitron", sans-serif;
    font-size: medium;
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.journey {
    background-color: #2ecc71;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.journey h3 {
    margin-bottom: 10px;
}

.project {
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    background: linear-gradient(45deg, black, transparent);
    color: #fff;
    /* padding:16px; */
    margin: 10px 0;
    padding-bottom: 4%;
    padding-left: 3%;
    border-radius: 1px;
}

.project h3 {
    margin-bottom: 8px;
}
.project a{
    font-weight: lighter;
    color: white;
}

.project:hover{
    font-size: 18px;
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}
