@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    -webkit-text-fill-color: aliceblue;
    background-color: black;
    width: 20vw;
    font-family: "Tektur", sans-serif;
    height: 114vh;
}
.sidebar nav{
    padding:  20px
}

.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 35px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main{
    background-color:  rgb(20 76 92);
    width:90vw ;
}

.container{
    display: flex;
}

.infomain{
    padding-top: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    background: linear-gradient(45deg, black, transparent);
    height: 50vh;
    width: 82vw;
    margin-top:25vh;
    display: flex;
    justify-content: space-around;
}



.dev-devinfo {
    display: flex;
    -webkit-text-fill-color: white;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
}

.hello{
    font-size: 35px;
}

.about:hover{
    font-size: 20px;
}

.about:hover{
    font-size: 25px;
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}

.moreabout{
    font-size: 15px;
    font-family: "Source Code Pro", monospace;
}
.moreabout:hover{
    font-size: 20px;
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}


.button button{
    padding: 15px;
    border-radius: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: radial-gradient(black, transparent);
    cursor: pointer;
}

.button button:hover{
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}

.dev-picture img{
    height: 48vh;
}


.myinfo{
    background: linear-gradient(45deg, black, transparent);
    -webkit-text-fill-color: aliceblue;
    padding: 130px;
    height: 15vh;
}

.myinfo a{
    color: white;
}


.contactform{
    background: linear-gradient(45deg, black, transparent);
    -webkit-text-fill-color: aliceblue;
    padding: 120px;
    height: 15vh;
}

.form-control::placeholder {
    background: linear-gradient(45deg, black, transparent);
}

.btn-primary{
    background: linear-gradient(45deg, black, transparent);  
    padding: 8px;
}

.btn-primary:hover{
    color: rgb(186, 134, 30);
    background: rgb(221, 172, 38);
    padding: 12px;
}