@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.sidebar{
    /* position: fixed; */
    background-color: black;
    width: 20%;
    font-family: "Tektur", sans-serif;
    height: 100vh;
    z-index: 1;
    padding: 20px;
}
.sidebar nav{
    padding:  20px
}
.sidebar nav ul {
    list-style: none;
    padding: 0;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 35px 0;
}
.sidebar nav li:hover{
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}



.infomain{
    width: 80%;
    padding: 20px;
    margin-left: 0%;
    /* position: relative; */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    /* position:fixed; */
    /* left: 20%;
    bottom: 10%; */
    background: linear-gradient(45deg, black, transparent);
    color: #f1f1f1;
    /* z-index: 2; */
    /* height: 100vh;  */
}

#backVideo{
    /* position: fixed;
    right: 0;
    left:20%;
    bottom: 0; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.dev-devinfo {
    display: flex;
    -webkit-text-fill-color: white;
    background: linear-gradient(45deg, black, transparent);

    flex-direction: column;
    align-items:start ;
    /* text-align: center; */
    justify-content: center;
    font-family: "Source Code Pro", monospace;
    position: relative;
    z-index: 1;
    margin-top: 20%;
}

.hello{
    font-size: 35px;
}

.hello:hover{
    font-size: 40px;
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}

.about{
    font-size: 20px;
}

.about:hover{
    font-size: 25px;
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}

.moreabout{
    font-size: 15px;
    font-family: "Source Code Pro", monospace;
}
.moreabout:hover{
    font-size: 20px;
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}


.button button{
    padding: 15px;
    border-radius: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: radial-gradient(black, transparent);
    cursor: pointer;
    font-size: large;
}

.button button:hover{
    color: linear-gradient(45deg, rgb(135, 65, 65), transparent);;
    background: linear-gradient(45deg, rgb(121, 33, 33), transparent);
}

/* .dev-picture img{
    height: 35vh;
} */


.myinfo{
    background: linear-gradient(45deg, black, transparent);
    -webkit-text-fill-color: aliceblue;
    padding: 130px;
    height: 15vh;
}

.myinfo a{
    color: white;
}


.contactform{
    background: linear-gradient(45deg, black, transparent);
    -webkit-text-fill-color: aliceblue;
    padding: 120px;
    height: 15vh;
}

.form-control::placeholder {
    background: linear-gradient(45deg, black, transparent);
}

.btn-primary{
    background: linear-gradient(45deg, black, transparent);  
    padding: 8px;
}

.btn-primary:hover{
    color: rgb(186, 134, 30);
    background: rgb(221, 172, 38);
    padding: 12px;
}